 *{
    font-family: 'Poppins';
}

.text{
  background-color: brown;
  width: 365px;
  border-radius: 2px;
  margin-top: 40px;
}

.text h3{
  font-family: 'Poppins';
  color: white;
  text-align: center;
}
  
.jadwal{
  text-align: center;
  margin-top: 10em;
  background-color: brown;
  color: white;
}

#container{
  margin-top: 5em;
}

  
main {
  padding: 20px;
}
  
  
.card {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
}

h1 {
  color: #ffffff;
  margin-bottom: 10px;  
}
  
img {
  border-radius: 5px;
  width: 180px;
}