*{
    font-family: 'Poppins';
}





.card-custom{
    position: relative;
    overflow: hidden;
    border-radius: 5em;
    transition: transform 0.4 ease;
}

.card-custom img{
    transition: transform 0.4s ease;
    border-radius: 5em;
    width: 100%;
    height: 317px;
    object-fit: cover;
    
}

.card-custom:hover img{
    transform: scale(1.1);
}

.card-overlay{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    z-index: 1;
    pointer-events: none;
}

.card-custom::before{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.4);
    border-radius: 5em;
    z-index: 0;
}

.row-space-around{
    justify-content: space-around;
}



.menu-2{
    margin-top: 7em;
}